@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
    --background: #161717;
    --background-light: #1d1f1f;
    --foreground: #fafaed;
}

@theme inline {
    --color-background: var(--background);
    --color-background-light: var(--background-light);
    --color-foreground: var(--foreground);
}

body {
    background: var(--background);
    color: var(--foreground);
}
